# SPDX-FileCopyrightText: 2025 The superseedr Contributors
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  superseedr:
    build:
      context: .
      args:
          - PRIVATE_BUILD=${PRIVATE_BUILD:-false}
    image: ${IMAGE_NAME:-jagatranvo/superseedr:latest}
    tty: true
    stdin_open: true
    init: true
    entrypoint: ["superseedr"]
    command: []
    volumes:
      - ${HOST_SUPERSEEDR_DATA_PATH:-superseedr-data}:/superseedr-data
      - ${HOST_SUPERSEEDR_CONFIG_PATH:-superseedr-config}:/root/.config/jagalite.superseedr
      - ${HOST_SUPERSEEDR_SHARE_PATH:-superseedr-share}:/root/.local/share/jagalite.superseedr
    environment:
      - SUPERSEEDR_DEFAULT_DOWNLOAD_FOLDER=/superseedr-data
      - SUPERSEEDR_CLIENT_PORT=${CLIENT_PORT:-6881}
    stop_grace_period: 0s
